<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'New Cycle', '#' %></li>
    </ul>

    <div class="page-header">
      <h1>New <small>cycle</small></h1>
    </div>

    <%= render 'form' %>

	<div class="well">
		<h3>Previous Cycle</h3>
		<% if @previous_cycle %>
			<%	@previous_cycle.cycle_weights.each do |cycle_weight| %>
				<% weight = cycle_weight.weight %>
				<%= weight.name + " #{weight.value} "%>
			<% end %>
		<% end %>
	</div>
  </div>
</div>
