<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'Show', '#' %></li>
      <li><%= link_to 'Edit', edit_cycle_path(@cycle) %></li>
    </ul>
    <div class="page-header">
      <h1>Show</h1>
    </div>
        <p>
      <strong>Starting weight:</strong>
      <%= @cycle.starting_weight.value %>
    </p>

        <p>
      <strong>Program:</strong>
      <%= @cycle.program.name %>
    </p>

      </div>
</div>

