<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to 'Show', @workout_set %></li>
      <li class="active"><%= link_to 'Edit', '#' %></li>
      <li><%= link_to 'All', workout_sets_path %></li>
    </ul>

    <div class="page-header">
      <h1>Editing <small>workout_set</small></h1>
    </div>

    <%= render 'form' %>
  </div>
</div>
