<div class="container">
	<div class="content">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><%= link_to 'Show', '#' %></li>
		<li><%= edit_link %></li>
		<li><%= all_exercises_link %></li>
	</ul>
	<div class="page-header">
		<h1>Show</h1>
	</div>
	<p>
		<strong>Name:</strong> <%= display_name %>
	</p>
	</div>
</div>
